@import "../../styles/scss/colors";
@import "../../styles/scss/helpers";

.footer {
    background-color: $cinemaLightBlack;
    border-top: 8px solid $darkGrey;
    padding: 3% 10% 2% 10%;
}

.links,
.social-media {
    border-bottom: 1px solid $footerGrey;
    margin: 10px 0px;
}

.social-media-list,
.links-list {
    list-style: none;
    display: flex;
    align-items: stretch;


    li {
        margin: 0px 30px;

        @include bp(lg) {
            margin: 0px 15px;
        }

        @include bp(xs) {
            margin-bottom: 18px;
        }
    }

    li a {
        color: $footerGrey;
        text-decoration: none;

        &:hover {
            color: $footerDarkGrey;
        }
    }
}

.copyright {
    color: $copyrightGrey;
    margin: 10px 0px;
}

.footer-container {
    @include center-element;
}