@import "../../styles/scss/colors";


.footer {
    background-color: $cinemaLightBlack;
    border-top: 8px solid $darkGrey;
    padding: 3% 10% 2% 10%;
}

.social-media-list,
.links-list {
    list-style: none;
    li a {
        color: $footerGrey;
        text-decoration: none;

        &:hover {
            color: $footerDarkGrey;
        }
    }
}