@import "../../styles/scss/colors";

#movie-list-pagination {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

}


.page-link {
    border: 1px solid $gold;
    color: $gold;
    background-color: transparent;

    &:hover {
        border: 1px solid $gold;
        background-color: $gold !important;
        color: $cinemaBlack;
    }
}

.page-link.active {
    background-color: $gold !important;
}