@import "../../styles/scss/colors";

#movie-list-pagination {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

}


.page-link {
    border: 1px solid red;
    color: $gold;
    background-color: transparent;
    &:focus {
        background-color: $gold !important;
    }
    &:hover {
        background-color: $gold !important;
    }

}