@import "../../styles/scss/colors";

#movie-list-pagination {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}


.page-link {
    color: $gold;

    &:focus {
        background-color: $gold !important;
    }
    &:hover {
        background-color: $gold !important;
        color: $lightGrey;
    }

}