html {
  scroll-behavior: smooth;
}

.main-container {
  font-family: Lato, sans-serif;
  line-height: normal;
}

.container-title {
  color: #eeeeee;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .container-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .container-title {
    font-size: 2rem;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 2.1rem;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 1199px) {
  h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 1.4rem;
  }
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.card-title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .card-subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .card-subtitle {
    margin-bottom: 30px;
  }
}

.card-title,
.card-subtitle {
  text-align: left;
  color: #eeeeee;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  .card-title,
.card-subtitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .card-title,
.card-subtitle {
    text-align: center;
  }
}

#card-txt-module {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text {
  text-align: center;
}

.header-container {
  background-image: url(../../styles/cinema_hall.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 1199px) {
  .header-container {
    height: 70vh;
  }
}
@media (max-width: 576px) {
  .header-container {
    height: 60vh;
  }
}

#header-module {
  margin: 0 0;
  padding: 0 0;
}

@media (max-width: 576px) {
  .btn-warning {
    width: 100%;
    transform: scale(0.8);
  }
}

.streami-logo {
  padding-top: 0.5rem;
  height: 45px;
  width: 220px;
}
@media (max-width: 1199px) {
  .streami-logo {
    height: 45px;
    width: 190px;
  }
}
@media (max-width: 576px) {
  .streami-logo {
    height: 45px;
    width: 150px;
  }
}

#nav-module {
  margin: 0 10;
  padding: 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
}

.navigation-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}
@media (max-width: 1199px) {
  .navigation-container {
    margin: 25px 25px 0px 25px;
  }
}
@media (max-width: 576px) {
  .navigation-container {
    margin: 20px 20px 0px 20px;
  }
}

@media (max-width: 576px) {
  .btn-danger {
    transform: scale(0.8);
  }
}

.top-movies-list {
  background: #080e1c;
  color: #eeeeee;
}

#movie-list-pagination {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.page-link {
  border: 1px solid #ffc107;
  color: #ffc107;
  background-color: transparent;
}
.page-link:hover {
  border: 1px solid #ffc107;
  background-color: #ffc107 !important;
  color: #080e1c;
  opacity: 0.9;
}

.page-link.active {
  background-color: #ffc107 !important;
  color: #080e1c;
}

#pagination-module {
  background-color: #080e1c;
  display: flex;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}

.mobile-go-top-link {
  display: none;
}
@media (max-width: 576px) {
  .mobile-go-top-link {
    display: block;
  }
}

.page-link.active .mobile-go-top-link {
  background-color: #ffc107 !important;
  color: #080e1c;
}

.mobile-go-top-link {
  color: #ffc107;
  text-decoration: none;
}
.mobile-go-top-link:hover {
  color: #080e1c !important;
  text-decoration: none !important;
}

.movies-labels-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 10% 2% 10%;
}

#movie-subtitle {
  color: #a0a0a0;
  font-size: 0.8rem;
}

.movie-label {
  width: 7%;
  margin-bottom: 2%;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 0 10%;
  text-align: center !important;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .movie-label {
    flex: 1 0 21%;
  }
}
@media (max-width: 576px) {
  .movie-label {
    flex: 1 0 41%;
  }
}

.text-under {
  width: 113px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12%;
  text-align: left !important;
}

.top-movies-list {
  border-top: 2px solid #a0a0a0;
}

#movie-list-pagination {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.page-link {
  border: 1px solid #ffc107;
  color: #ffc107;
  background-color: transparent;
}
.page-link:hover {
  border: 1px solid #ffc107;
  background-color: #ffc107 !important;
  color: #080e1c;
  opacity: 0.9;
}

.page-link.active {
  background-color: #ffc107 !important;
  color: #080e1c;
}

#pagination-module {
  background-color: #080e1c;
  display: flex;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}

.mobile-go-top-link {
  display: none;
}
@media (max-width: 576px) {
  .mobile-go-top-link {
    display: block;
  }
}

.page-link.active .mobile-go-top-link {
  background-color: #ffc107 !important;
  color: #080e1c;
}

.mobile-go-top-link {
  color: #ffc107;
  text-decoration: none;
}
.mobile-go-top-link:hover {
  color: #080e1c !important;
  text-decoration: none !important;
}

.story-card {
  background-color: #080e1c;
  border-top: 2px solid #a0a0a0;
  padding: 3% 10% 2% 10%;
}

.story-card-img {
  transform: scale(0.8);
  width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
  .story-card-img {
    transform: scale(0.9);
  }
}
@media (max-width: 576px) {
  .story-card-img {
    transform: none;
  }
}

.story-card-title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .story-card-subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .story-card-subtitle {
    margin-bottom: 30px;
  }
}

.story-card-title,
.story-card-subtitle {
  text-align: left;
  color: #eeeeee;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  .story-card-title,
.story-card-subtitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .story-card-title,
.story-card-subtitle {
    text-align: center;
  }
}

#story-card-txt-module {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text,
.container-img {
  margin-left: 50px;
}
@media (max-width: 1199px) {
  .container-text,
.container-img {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .container-text,
.container-img {
    margin-left: 0px;
  }
}

.container-text {
  text-align: center;
}

.story-card {
  background-color: #080e1c;
  border-top: 2px solid #a0a0a0;
  padding: 3% 10% 2% 10%;
}

.card-img {
  transform: scale(0.8);
  width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
  .card-img {
    transform: scale(0.9);
  }
}
@media (max-width: 576px) {
  .card-img {
    transform: none;
  }
}

.card-title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .story-card-subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .story-card-subtitle {
    margin-bottom: 30px;
  }
}

.story-card-title,
.card-subtitle {
  text-align: left;
  color: #eeeeee;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  .story-card-title,
.card-subtitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .story-card-title,
.card-subtitle {
    text-align: center;
  }
}

#card-txt-module {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text,
.container-img {
  margin-left: 50px;
}
@media (max-width: 1199px) {
  .container-text,
.container-img {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .container-text,
.container-img {
    margin-left: 0px;
  }
}

.container-text {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
