.header-container {
    background-image: url(../../styles/cinema_hall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 100%;
    height: auto;
}

.img-container {
    height: 50vh;
    margin: 100px 0px;
    padding: 100px 0px;
}