@import "../../styles/scss/colors";
@import "../../styles/scss/helpers";

.header-container {
    background-image: url(../../styles/cinema_hall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 80vh;

    @include center-element;

    flex-direction: column;
    padding: 0 20px;

    @include bp(lg) {
        height: 70vh;
    }

    @include bp(xs) {
        height: 60vh;
    }
}

#header-module {
    margin: 0 0;
    padding: 0 0;
}

.btn-warning {
    @include bp(xs) {
        width: 100%;
        transform: scale(0.8);
    }
}