@import "../../styles/scss/colors";

.header-container {
    background-image: url(../../styles/cinema_hall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-module {
    margin: 0 0;
    padding: 0 0;
}

.header-title {
    color: $lightGrey;
    margin-bottom: 30px;
}

#btn-txt {
    margin: 30px 30px;
}