#header-module {
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../../styles/cinema_hall.jpg);
}

.header-img {
    width: 100%;
    height: auto;
}

.img-container {
    height: 50vh;
    margin: 100px 0px;
    padding: 100px 0px;
}