@import "../../styles/scss/colors";

.story-card {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-color: $cinemaBlack;
    border-top: 2px solid $darkGrey;
    padding: 3% 10% 2% 10%;
}

.story-card-img {
    transform: scale(0.8);
    width: 100%;
    height: auto;
}

.story-card-title, .story-card-subtitle{
    text-align: left;
    color: $lightGrey;
}