
.streami-logo {
    padding-top: .5rem;
    height: auto;
    width: 220px;
    @include bp(lg) {
        font-size: 3rem;
    }
    @include bp(xs) {
        font-size: 2rem;
    }
}

#nav-module{
    margin: 0 10;
    padding: 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
}

.navigation-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
}