.streami-logo {
    padding-top: .5rem;
    height: 45px;
    width: 220px;
}

#nav-module{
    margin: 0 10;
    padding: 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.navigation-container{
    display: none;
    align-items: stretch;
    justify-content: space-between;
}