.movies-labels-container{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.movie-title{
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}