@import "../../styles/scss/colors";
@import "../../styles/scss/helpers";

.movies-labels-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 10% 2% 10%;
}

#movie-title{

}

#movie-subtitle {
    color: $darkGrey;
    font-size: 0.8rem;
}

.movie-label {
    width: 7%;
    margin-bottom: 2%;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 0 10%;
    @include bp(lg) {
        flex: 1 0 21%;
    }

    @include bp(xs) {
        flex: 1 0 41%;
    }
}

.text-under{
    width: 131px;
}