@import "../../styles/scss/colors";

.movies-labels-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px;
}

#movie-title {
    word-wrap: break-word !important;
}

#movie-subtitle {
    color: $darkGrey;
    font-size: 0.8rem;
}
