@import "../../styles/scss/colors";

.movies-labels-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 10%;
}

#movie-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip; 
}

#movie-subtitle {
    color: $darkGrey;
    font-size: 0.8rem;
}

.movie-label{
    width: 10%;
    margin-bottom: 5%;
    // overflow: hidden;
}