.main-container {
    font-family: Lato, sans-serif;
    line-height: normal;
    color: green;
    @include bp(lg) {
        font-size: 1.2em;
    }

    @include bp(sm) {
        font-size: 1.1em;
    }
    
}