@import "../../styles/scss/colors";

.main-container {
    font-family: Lato, sans-serif;
    line-height: normal;
}

button {
    color: $lightGrey;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
    &:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}