@import "../../styles/scss/colors";

.main-container {
    font-family: Lato, sans-serif;
    line-height: normal;
}

button {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
        transition: none !important;

        transform: scale(0.99);
    }

    &:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
        transition: none !important;
        transform: scale(0.99);
    }
}