@import "../../styles/scss/colors";
@import "../../styles/scss/helpers";

html {
    scroll-behavior: smooth;
}

.main-container {
    font-family: Lato, sans-serif;
    line-height: normal;
}

.container-title {
    color: $lightGrey;
    margin-bottom: 30px;
    margin-top: 20px;
    @include center-element;

    @include bp(lg) {
        font-size: 2.5rem;
    }

    @include bp(xs) {
        font-size: 2rem;
    }
}

h2 {
    @include bp(lg) {
        font-size: 2.1rem;
    }

    @include bp(xs) {
        font-size: 1.7rem;
    }
}

h3 {
    @include bp(lg) {
        font-size: 1.6rem;
    }

    @include bp(xs) {
        font-size: 1.4rem;
    }
}

button {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

//card styles

.card-title {
    margin-bottom: 20px;
}

.card-subtitle {
    @include bp(lg) {
        margin-bottom: 40px;
    }

    @include bp(xs) {
        margin-bottom: 30px;
    }
}

.card-title,
.card-subtitle {
    text-align: left;
    color: $lightGrey;
    line-height: 1.3;

    @include bp(lg) {
        text-align: center;
    }

    @include bp(xs) {
        text-align: center;
    }
}


#card-txt-module {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text {
    text-align: center;
}