@import "../../styles/scss/colors";

.main-container {
    font-family: Lato, sans-serif;
    line-height: normal;
}

.container-title {
    color: $lightGrey;
    margin-bottom: 30px;


    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;

    @include bp(lg) {
        font-size: 2.5rem;
    }

    @include bp(xs) {
        font-size: 2rem;
    }
}

button {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}