//variables

$lightGrey: rgb(238, 238, 238);
$darkGrey: rgb(201, 201, 201);
$footerGrey: rgb(197, 197, 197);
$footerDarkGrey: rgb(175, 175, 175);
$copyrightGrey: rgb(136, 136, 136);
$cinemaBlack: #080e1c;
$cinemaLightBlack: #080e1cf5;
$gold: #ffc107;
