//mixins

@mixin bp($point) {
    @if $point==xs {
        @media (max-width: 576px) {
            @content
        }
    }
    @else if $point==sm {
        @media (max-width: 767px) {
            @content
        }
    }
    @else if $point==md {
        @media (max-width: 991px) {
            @content
        }
    }
    @else if $point==lg {
        @media (max-width: 1199px) {
            @content
        }
    }
    @else {
        @media (max-width: $point) {
            @content
        }
    }
};