@import "../../../styles/scss/colors";
@import "../../../styles/scss/helpers";

.movies-labels-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 10% 2% 10%;
}

#movie-subtitle {
    color: $darkGrey;
    font-size: 0.8rem;
}

.movie-label {
    width: 7%;
    margin-bottom: 2%;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 0 10%;
    text-align: center !important;
    cursor: pointer;

    @include bp(lg) {
        flex: 1 0 21%;
    }



    @include bp(md) {
        flex: 1 0 31%;
    }

    @include bp(sm) {
        flex: 1 38%;
    }



    @include bp(xs) {
        flex: 1 0 41%;
    }
}

.text-under {
    width: 113px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // margin-left: 12%;
    text-align: left !important;
}

.top-movies-list {
    border-top: 2px solid $darkGrey;
}